/*.mainContent {
	text-align: center;
}
*/
/*.loginForm {
	width:60%;
	text-align: center;
}*/

body {
	font-family:'Open Sans', sans-serif;
  padding-top: 103px;
  text-align: center;
  /*position: relative;*/
}

.button-home{
	width: 75px;
}

/*.form-horizontal {
	width:60%;
}*/

