<!DOCTYPE html>
<html>
    <meta charset="utf-8" />
    <title>Twitter List Viewer</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    

    <script type="text/javascript" src="lib/oauth.js"></script>
    <script type="text/javascript" src="lib/angular.min.js"></script>
	<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <!--<script type="text/javascript" src="scripts/script.js"></script>-->

	<script type="text/javascript" src="scripts/app.js"></script>
	<script type="text/javascript" src="scripts/controller.js"></script>

</head>


<body ng-app="twitterListViewer">
	<div ng-controller="twitterController">
		
			<h1>{{greeting}}</h1>
			<button type="button" class="btn btn-primary" ng-click="authenticateWithTwitter()">Authenticate with Twitter</button>
			<br>
			<button type="button" class="btn btn-success" ng-show="authenticated">Authenticated!</button>
			<br>
			<button type="button" class="btn btn-success" ng-click="authenticateWithTwitter()" ng-show="authenticated">Load Lists</button>
			
		
	</div>
</body>
</html>