
        <div class="container">

            
            
                <h1>Twitter List Viewer</h1>
            
            <h2>Thank you for installing the first version of Twitter List Viewer!</h2>
            <p>If you categorize your Twitter follows into Lists, and you'd like a default view on app launch to see
                your favorite list, you can use this app. You can login to your Twitter account using this app, and 
                you will be presented with the Twitter Lists you own. Select the "default" checkbox to set your default list, and change it anytime.
                You can also view your other list timelines. Close the app when you are finished. 
                The next time you open the app, the default view of the app will display your default list!
                The same functionality using the Twitter app requires navigating from Home to Account to Lists, and then 
                finally selecting your list. <strong>This app gets you to your list data in three less steps and is perfect for 
                the frequent Twitter consumer who uses lists.</strong>
            </p>
            <h3>Prerequisites for Using Twitter List Viewer</h3>
            <ul>
                <li>Have a Twitter Account</li>
                <li>Have Twitter Follows grouped into Lists</li>
            </ul>
        </div>
        
        

