	<div class="mainContent">
		
			
			
			<div class="row">
				<div class="table-responsive col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
					<h3>Hello, {{twitterAlias}}</h3>

					<!--<h4>Your token is: {{twitterUserToken}}</h4>-->
					<img src="{{twitterAvatar}}">

					<h4>Here are your lists, select one to view, or designate a default list that is loaded at startup:</h4>
					<table class="table table-striped table-bordered">
							<tr><thead><td><h4>List Name</h4></td><td><h4>Make Default List</h4></td></thead></tr>
							<tr ng-repeat="list in listData.data"><td><h5>{{list.name}}</h5></td><td><input type="checkbox"></td></tr>
						
					</table>
				</div>
			</div>
				
	</div>