/*.mainContent {
	text-align: center;
}
*/
/*.loginForm {
	width:60%;
	text-align: center;
}*/

body {
	font-family:'Open Sans', sans-serif;
  /*padding-top: 103px; this was removed after switching to angular-UI navbar collapse*/
  text-align: center;
  /*position: relative;*/
}

.button-home{
	width: 75px;
}

/*.form-horizontal {
	width:60%;
}*/

.tweet {
	margin: 1px 1px !important;
	text-align: left;
}

